* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
}

button {
    background-color: red;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 1.2em;
    outline: none;
    user-select: none;
    width: 5em;
}

button:active {
    background-color: crimson;
    color: lightgray;
}

#menu {
    display: flex;
    justify-content: center;
    height: 10vh;
    padding: 1%;
}

#menu button:not(:last-child) {
    margin-right: 2em;
}

#app {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 90vh;
    width: 100vw;
}

#container {
    background-color: #f00;
    border-radius: 2px;
    height: 220px;
    padding: 10px;
    width: 220px;
}
